/* css reset */
* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;

}



/* css variables */
:root {
    --navbar-height: 59px
}

/* navigation bar */
#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

/* navigation bar: logo and image */
#logo {
    margin: -23px 16px;
}

#logo img {
    margin: 26px 1px;
    width: 90px;
    border-radius: 300px;
}

/* navigation Bar: List styling */
#navbar ul {
    display: flex;

}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
    top: 0px;
    left: 0px;
}

#navbar ul li {

    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    color: white;
    display: block;
    padding: 3px 8px;
    border-radius: 20px;
    text-decoration: none;
    /*using this the underline under the word will be removed */
    font-size: 15px;


}

#navbar ul li a:hover {
    color: black;
    background-color: white;
}

/* home section */

#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    height: 492px;
}

#home::before {
    content: "";
    background: url('../bg1.jpg') no-repeat center center/cover;
    /*"no-repeat center center/cover" -- this line is used to fit the image in website */
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.90;
    height: 576px;
    top: 0px;
    left: 0px;
}

/* this is for heading "Welcome to MiOnlineMeal" */
#home h1 {
    color: black;
    text-align: center;
    background: #e2ffdb;
    border-radius: 220px;
    opacity: 0.78;
    font-family: 'Akaya Telivigala';

}

#home p {
    color: white;
    text-align: center;
    /* font-family: 'Amatic SC'; */
    /* font-family: 'Are You Serious'; */
    font-family: 'Aref Ruqaa';
    font-size: 1.2rem;
}

/* utility classes */
.h-primary {
    font-size: 1.9rem;
    /* font-family: 'Are You Serious'; */
    padding: 7px;

}

.h-secondary {
    font-size: 1.9rem;
    font-family: 'Amatic SC';
    padding: 7px;

}


.btn {
    padding: 1px 6px;
    border: 2px solid #a8d393;
    background-color: #040607;
    color: white;
    margin: 14px;
    font-size: 1.3rem;
    border-radius: 23px;
    opacity: 0.89;
    cursor: pointer;
    /* transform: rotate(360deg); */
}

.center {
    text-align: center;
    
}

.food {
    /* font-family: 'Are You Serious'; */
    font-family: 'Alkatra';
    /* color: #a8d393; */

}



/* services section */
#services {
    margin: 14px 19px;
    display: flex;
}

#services .box {
    border: 2px solid #e7e5e5;
    margin: 0px 5px;
    padding: 0px 24px;
    border-radius: 16px;
    background-color: #eeeeee;
    width: 22%;
}

#services .box img {
    height: 157px;
    margin: auto;
    display: block;
    border-radius: 58px;
    width: 50%;
    padding: 5px 0px;

}

#services .box p {
    font-family: 'Amatic SC';
}

/* clients section */
#client-section {
    height: 207px;
    position: relative;
}

#client-section::before {
    content: "";
    background: url('../bg.jpg') no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}


#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

#clients img {
    height: 90px;
    border-radius: 20px;

}

.clients-items {
    padding: 8px;
}

/* contact section */

#contact {
    position: relative;
    /* justify-content: center;
align-items: center; */
}

#contact::before {
    content: "";
    background: url('../contact.jpg') no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}

.h-primary {
    text-align: center;
    align-items: center;
}

footer {
    background: black;
    color: white;
    padding: 9px 20px;
}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 34px;
}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 20px;
    opacity: 0.85;
    font-family: 'Akaya Telivigala';
    /* font-size: 1.1rem; */
}

#contact-box form {
    /* width: 40%; */
}

#contact-box label {
    /* font-size: 1.3rem; */
    font-family: 'Akaya Telivigala';
}